jid: sender_mail@googlemail.com
password: your_password
to: recipient@googlemail.com
obs: observer_mail@googlemail.com
message: Do X then Y
hot_word: ok
delay: 1800
start_date: 2013-01-01
confirmation_messages:
 - Successfully confirmed
 - Confirmation received
 - Great, now I will sleep
